.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #81858d;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Safari syntax */
:-webkit-full-screen {
  background-color: #282c34;
}

/* IE11 */
:-ms-fullscreen {
  background-color: #282c34;
}

/* Standard syntax */
:fullscreen {
  background-color: #282c34;
}

/* Mastan Changes CSS*/
.navbar {
  display: flex;
  align-items: center;
  background-color: #282c34;
  /* background: rebeccapurple; */
  color: white;
  font-family: Helvetica;
  font-weight: 300;
  width: 100%;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.home-body{
  display: flex;
  width: 100%;
  height: 80vh;
}
.image-preview{
  width: 75%;
}

.sidebar{
  width: 24%;
}

.properties-style{
  width: 150px;
  height: 150px;
  margin: 3px 5px;
}

   @media (min-width: 1200px) {
    .properties-style{
      width: 150px;
      height: 150px;
      margin: 3px 5px;
    }
  }

 
  @media (max-width: 992px) {
    .properties-style{
      width: 80px;
      height: 80px;
      margin: 3px 5px;
    }
  }
  
  @media (max-width: 678px) {
    .properties-style{
      width: 50px;
      height: 50px;
      margin: 3px 5px;
    }
  }
 /*
  @media (min-width: 600px) {
    .properties-style{
      width: 80px;
      height: 80px;
      margin: 3px 5px;
    }
  } */
  
